@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;   
  color-scheme: light;

  --color-primary: #E3B577;
  --color-secondary: #372727;

}

